<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Trip Advisor Module Test Suite">
            <directory suffix="Test.php">./tests/NetglueTripAdvisor/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/NetglueTripAdvisor/</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    
    <php>
        <!-- Change me to 1 to skip remote tests -->
        <var name="SKIP_REMOTE" value="0"/>
    </php>
    
</phpunit>