<?php
/**
 * Example Configuration for the TripAdvisor Module
 */

return array(
	
	/**
	 * See ./module.config.php for comments
	 */
	
	'netglue_tripadvisor' => array(
		'scraper' => array(
		    // Change this unless you want to display reviews for the London Ritz
		    'url' => 'http://www.tripadvisor.co.uk/Hotel_Review-g186338-d187591-Reviews-The_Ritz_London-London_England.html'
		),
	),
	
	'caches' => array(
        'NetglueTripAdvisor\Cache' => array(
            'adapter' => 'filesystem',
            'options' => array(
                'ttl' => 3600 * 24,
                'dirPermission' => 0777,
                'filePermission' => 0666,
                //'cacheDir' => '/path/to/your/preferred/cachedir',
            ),
        ),
    ),
    
    'view_manager' => array(
		'template_map' => array(
		    // 'netglue_tripadvisor/reviews' => '/path/to/a/nice/view/script-to-render-your-reviews.phtml'
		),
	),
	
);
